<div>

 <h1 class="title">Crear Producto</h1>

 <form action="/api/products" method="POST" id="formProduct" class="product-form"> 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Título</label>
      <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="description">Descripción</label>
      <input type="text" name="description" id="description" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="code">Código</label>
      <input type="text" name="code" id="code" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="price">Precio</label>
      <input type="number" name="price" id="price" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="stock">Stock</label>
      <input type="number" name="stock" id="stock" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="category">Categoría</label>
      <input type="text" name="category" id="category" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Crear Producto</button> 
  </div>
</form>

<h1 class="title">Lista de Productos</h1>
<div id="productsContainer" class="cards-container">
   <!--vista tabla de productos-->
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>



